caption{
	color:rgb(15, 136, 235);
}

table{
	text-align: center;
}

.table-bordered th,  
  .table-bordered td {  
    border: 1px solid #c9ccce !important;  
} 

.img_size{
	width: 56px;
}

.operate{
	line-height: 26px;
	padding:2px; 
	margin: 4px 0px;
	width: 72px;
	height:30px;
}



