
#bookTitle{
	margin:30px 10px;
}

.title{
	color:rgb(0, 119, 34);
	padding-bottom: 5px;
}

.image_wrap{
	margin-left: 30px;
	margin-bottom: 30px;
}

.img_size{
        width: 160px;

}

.rating_star{
	background-color: transparent;
	width: 18px;
}

.rating_average{
	font-size:30px;
	color:rgb(224, 144, 21);
}

.rating_area{
	border-left: 1px dotted grey;
}

.discuss{
    padding-bottom: 100px;
}

.reply_content{
	width: 100%;
	height:100px;
	font-size: 18px;
}

.discuss_title{
	padding-bottom: 10px;
	margin-bottom: 15px;
	border-bottom: 1px dashed grey;
}

.reply_input:after,.item:after{
	content:"";
	display: table;
	width: 100%;
	height: 0;

}
.send{
	float: right;
	width: 80px;
	font-size: 18px;
	margin: 10px 0px;
}

.item{
	margin: 15px 0; 
	border-bottom: 1px dashed grey;
}

.r_head_pic{
	float: left;
    width: 50px;
    height: 50px;
}

.r_name_con{
	float: right;
	width: 740px;
}

.r_info {
	position: relative;
}

.r_info button{
	word-spacing: 2px;
	background-color: transparent;
	border:none;
}

.time,
.r_btn,
.z_btn,
.c_btn,
.d_btn{
	display: inline-block;
	margin:5px;
}

.z_c{
	display: inline-block;
	position: absolute;
	right: 15px;
	top:5px;
}

.z_con{
	display: inline-block;
	color: green;
}

.c_con{
	display: inline-block;
	color: red;
}

