body{
    	padding-top: 60px;
    	background-color: #feeeed;
    }

a:focus {
		outline:none; 
		-moz-outline:none;
}
.navbar-form{
		margin:0;
}
.search_input{
		height: 34px;
		width: 180px;
}
.search_btn{
	    margin-right: 10px;
}
.header_pic{
		margin-top: 10px;
		width: 30px;
		height:30px;
}
#header_a{
	   padding: 0px;
}
.container{
		width: 860px;
}
.logout{
		background-color: transparent;
		margin-top: 8px;
		color: rgb(119, 119, 119);
}